#feed
  width: 50%
  float: left

  h2
    font-size: 3em
    font-weight: 300
    text-align: center
    margin-bottom: 1em

  ul
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -webkit-flex-direction: column
    -ms-flex-direction: column
    flex-direction: column
