.profile
  display: flex
  align-items: center
  justify-content: center
  .avatar
    border-radius: 5px
    border: 3px solid
    height: 130px
  .infos
    width: 200px
    padding: 10px
    .name
      text-transform: uppercase
      font-weight: bold
      letter-spacing: 1px
    .twitter
      font-size: 14px
      font-weight: lighter
      line-height: 20px
.blue
  .avatar
    border-color: $blue
  .infos
    background: linear-gradient(to left, lighten($blue, 5%) 0%, $blue 100%)
    border: 1px solid lighten($blue, 10%)
    border-left: none
  .vote
    background: $blue
    border: 1px solid lighten($blue, 10%)

.black
  flex-direction: row-reverse
  text-align: right

  .avatar
    border-color: $black
  .infos
    background: linear-gradient(to right, lighten($black, 10%) 0%, $black 100%)
    border: 1px solid lighten($black, 10%)
    border-right: none
  .vote
    background: $black
    border: 1px solid lighten($black, 10%)

p.vote
  text-align: center
  line-height: 20px
  width: 171px
  font-weight: lighter
  letter-spacing: 1px
  padding: 10px
  border-radius: 5px
  .bold
    font-weight: bold
