#scoreboard
  padding: 40px 55px
  min-width: 500px
  position: absolute
  top: 50%
  left: 50%
  transform: translateY(-50%) translateX(-50%)
  text-align: center
  //background: linear-gradient(-75deg, $black 50%, $blue 50%)
  background: #fff
  color: $black
  border: 1px solid  $black
  z-index: 3
  transition: opacity 200ms
  border-radius: 5px
  opacity: 0
  h1
    text-transform: uppercase
    letter-spacing: 2px
    font-size: 55px
    margin-bottom: 10px
    font-weight: bold
  h2
    font-size: 40px
    line-height: 60px
  .bleu
    color: $blue
    font-weight: bold
  .noir
    color: $black
    font-weight: bold
#overlay
  position: absolute
  z-index: 2
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(#000, 0)
  transition: background 250ms
.active
  background: rgba(#000, 0.8)!important

.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both
  &.bounceIn, &.bounceOut
    -webkit-animation-duration: .1s
    animation-duration: .1s

@-webkit-keyframes fadeInDownBig
  from
    opacity: 0
    -webkit-transform: translate3d(0, -2000px, 0) translateY(-50%) translateX(-50%)
    transform: translate3d(0, -2000px, 0) translateY(-50%) translateX(-50%)

  to
    opacity: 1
    -webkit-transform:  translateY(-50%) translateX(-50%)
    transform:  translateY(-50%) translateX(-50%)


@keyframes fadeInDownBig
  from
    opacity: 0
    -webkit-transform: translate3d(0, -2000px, 0) translateY(-50%) translateX(-50%)
    transform: translate3d(0, -2000px, 0) translateY(-50%) translateX(-50%)

  to
    opacity: 1
    -webkit-transform:  translateY(-50%) translateX(-50%)
    transform:  translateY(-50%) translateX(-50%)


.fadeInDownBig
  -webkit-animation-name: fadeInDownBig
  animation-name: fadeInDownBig
